/*#header {
  margin-top: 50px;
}*/

#header-logo {
  width: 90px;
  margin-top: 40px;
}

  @media screen and (max-width:550px) {
    #header-logo {
      width: 80px;
      margin-top: 20px;
    }
  }
